.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #379e95c2;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #e43030;
}

h2 {
  padding: 5%;
  margin: auto;
  font-size: 2rem;
  color: #e43030;
  font-family: "Indie Flower", cursive;
  text-align: center;
  text-shadow: 2px 0 #23293196;
}

p {
  text-shadow: 2px 0 #23293196;
  font-size: 2.25rem;
  color: #e43030;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
